ClienteCRUD/ClienteCRUDWebForms/Connected Services/ServiceReference1/ClienteService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61668/ClienteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" />
  <xs:element name="GetAllCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pagina" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" minOccurs="0" name="GetAllClienteResult" nillable="true" type="q1:ArrayOfClienteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" minOccurs="0" name="GetClienteResult" nillable="true" type="q2:ClienteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" minOccurs="0" name="cliente" nillable="true" type="q3:ClienteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" minOccurs="0" name="SaveClienteResult" nillable="true" type="q4:ClienteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" minOccurs="0" name="cliente" nillable="true" type="q5:ClienteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" minOccurs="0" name="AtualizarClienteResult" nillable="true" type="q6:ClienteModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClienteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSexo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSexoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" minOccurs="0" name="GetAllSexoResult" nillable="true" type="q7:ArrayOfSexoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEstadoCivil">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllEstadoCivilResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" minOccurs="0" name="GetAllEstadoCivilResult" nillable="true" type="q8:ArrayOfEstadoCivilModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrgaoExpedicao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrgaoExpedicaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" minOccurs="0" name="GetAllOrgaoExpedicaoResult" nillable="true" type="q9:ArrayOfOrgaoExpedicaoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnderecoByCep">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cep" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnderecoByCepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" minOccurs="0" name="GetEnderecoByCepResult" nillable="true" type="q10:EnderecoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idEndereco" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" minOccurs="0" name="GetEnderecoResult" nillable="true" type="q11:EnderecoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEndereco">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" minOccurs="0" name="endereco" nillable="true" type="q12:EnderecoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEnderecoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ClienteCRUDModel" minOccurs="0" name="SaveEnderecoResult" nillable="true" type="q13:EnderecoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>